@model BillCalend.Model.Bills

@{

 var count = 0;
}
@if (Model.bApplySuccess)
{
    count = 1;
} else
{
    count = 2;
}

    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Product</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < count; i++)
            {
                <tr>
                    <td>product.Category</td>
                    <td>product.Product</td>
                    <td>product.Product</td>
                </tr>
            }
        </tbody>
    </table>